Source: sync-fw
Section: utils
Priority: optional
Maintainer: Srikanth Kavoori <ext-srikanth.kavoori@nokia.com>
Build-Depends: debhelper (>= 5), cdbs, doxygen, libqt4-dev, libdbus-1-dev , accounts-qt-dev, libcontextsubscriber-dev, libqttracker-dev , libiphb-dev ,usb-moded-dev, libsignon-qt-dev, aegis-builder
Standards-Version: 3.7.2

Package: sync-fw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Synchronization backend
 Synchronization backend, plugin manager, profile db, and conflict resolver.

Package: sync-fw-dev
Architecture: any
Depends: debhelper (>= 5), sync-fw(= ${binary:Version}), cdbs, libdbus-1-dev 
Description: Files required for synchronizer plugin development
 Header file needed for making plugins.
 
Package: sync-fw-dbg
Architecture: any
Depends: sync-fw (= ${binary:Version})
Description: Debug symbols for sync-fw
  Debug symbols for sync-fw
 
Package: sync-fw-doc
Section: doc
Architecture: any
Description: API documentation for sync-fw.
 Empty documentation package for sync-fw.

Package: sync-fw-tests
Section: tests
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, sync-fw, testrunner, meegotouch-dev-tools, timed
XB-Maemo-CI-Packages: sync-fw-tests
XB-Maemo-CI-Stage: staging 
Description: Module test package for sync-fw.
 Module test package for sync-fw.

