#!/usr/bin/make -f
export DH_VERBOSE=1    
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

# Add here any variable or target overrides you need.
CFLAGS += -Wall -Wextra -Wno-unused-parameter 
CXXFLAGS += -Wall -Wextra -Wno-unused-parameter 

# architecture we're building for
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

# This line is for including the Aegis manifest. 
binary:

ifeq ($(DEB_HOST_ARCH), arm)
	aegis-deb-add -control debian/sync-fw/DEBIAN/control .. debian/sync-fw.aegis=_aegis
else ifeq ($(DEB_HOST_ARCH), armel)
	aegis-deb-add -control debian/sync-fw/DEBIAN/control .. debian/sync-fw.aegis=_aegis
endif

DEB_DESTDIR := $(CURDIR)/debian/tmp
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

