TEMPLATE = lib
TARGET = $(projectname)
DEPENDPATH += .
INCLUDEPATH += . 

CONFIG += link_pkgconfig plugin

PKGCONFIG = buteosyncfw5
target.path = /usr/lib/buteo-plugins-qt5

QT += dbus sql network
QT -= gui

VER_MAJ = 1
VER_MIN = 0
VER_PAT = 0

\#input
HEADERS += $(classname).h

SOURCES += $(classname).cpp

QMAKE_CXXFLAGS = -Wall \
    -g \
    -Wno-cast-align \
    -O2 -finline-functions

\#clean
QMAKE_CLEAN += \$(TARGET) \$(TARGET0) \$(TARGET1) \$(TARGET2)
QMAKE_CLEAN += \$(OBJECTS_DIR)/*.gcda \$(OBJECTS_DIR)/*.gcno \$(OBJECTS_DIR)/*.gcov \$(OBJECTS_DIR)/moc_*

\#install

$(profile.type).path = /etc/buteo/profiles/$(profile.type)
$(profile.type).files = xml/$(profile.type)/*

#if $getVar('$profile.type', '') == 'client'
sync.path = /etc/buteo/profiles/sync
sync.files = xml/sync/*
#end if

#if $getVar('$profile.type', '') == 'storage'
storage.path = /etc/buteo/profiles/storage
storage.files = xml/storage/*
#end if

INSTALLS += target $(profile.type)

#if $getVar('$profile.type', '') == 'client'
INSTALLS += sync
#end if

#if $getVar('$profile.type', '') == 'storage'
INSTALLS += storage
#end if
