This is a stupid test "for" \#ifdef $(plugin.name)_H
/* Just want to dump something */
/**
 * Some more thing
*/
/**
 * \!brief writing a brief
 */

/**
 * @see somethign
 */

in quotes "$profile.name"

