<?xml version="1.0" encoding="UTF-8"?>

<profile name="$profile.name" type="storage" >
    <key name="enabled" value="$profile.enabled" />
    <key name="mimetype" value="$profile.mimetype" />
    #for $key, $value in $extprops.items()
    <key name="$key" value="$value" />
    #end for
</profile>