# Server plugin details
[config]
#Classname of the plugin
### MANDATORY ###
classname=MyServerPlugin

#Type of the plugin (client/server/storage)
### MANDATORY ###
type=server

#Name of the server plugin profile. This name would be used to identify the
#binary associated with the plugin. If profile name='myserverplugin', then
#the plugin library should be 'libmyserverplugin.so'
### MANDATORY ###
name=myserverplugin

#Use to identify if the profile has been enabled/disable.
#Possible values: 'true'/'false'
### MANDATORY ###
enabled=true

#If hidden=true, the profile will not be visible in UI
### OPTIONAL ###
hidden=true

#Transport over which the server listens for incoming connections
#Possible values: 'usb', 'bt', 'ip'
### MANDATORY ###
transport=usb

#All supported storages (like contacts, calendar etc.) by this server plugin
#Only required if there are storage plugins associated with this plugin. Optional
    ### OPTIONAL ###
    [[storages]]
        ### MANDATORY ###
        [[[contacts]]]
        ### MANDATORY ###
        enabled=true
        Local URI=./contacts
        Target URI=contacts

        [[[calendar]]]
        enabled=true
        Notebook Name=Personal
        Local URI=./calendar
        Target URI=caltask
        Calendar Format=vcalendar

        [[[xyz]]]
        enabled=false
        Local DBName=XYZ

#You can add any more key/value pairs (the names of which do not conflict
#with the above) for your own configuration.
### OPTIONAL ###
    [[ext-config]]
    mykey1=myvalue1
    mykey2=myvalue2
