<?xml version="1.0" encoding="UTF-8"?>

<profile name="$profile.name" type="server" >
    #if $profile.transport == 'usb'
    <key name="usb_transport" value="true"/>
    #else if $profile.transport == 'bt'
    <key name="bt_transport" value="true"/>
    #else if $profile.transport == 'ip'
    <!-- IP transport is not supported by the framework yet -->
    <key name="ip_transport" value="true"/>
    #end if
    
    <key name="enabled" value="$profile.enabled" />
    
    <key name="hidden" value="$profile.hidden" />

<!-- The following are the storage plugins that this plugin supports.
If you do not use a storage plug-in, then you do not need to have the
following definitions.
These are just samples and you can have your own storage plugins
-->
    #for $storagename, $props in $storages.items()
    <profile name="$storagename" type="storage" >
        #for $key, $value in $props.items()
        <key name="$key" value="$value" />
        #end for
    </profile>
    #end for
    
<!-- Add any extra key/value pairs that your plugin might need. These
properties are not used by the framework and only your plugin can make
use of them. These key/values should not conflict with the ones that 
the framework uses -->
    #for $key, $value in $extprops.items()
    <key name="$key" value="$value" />
    #end for

</profile>
