<?xml version="1.0" encoding="UTF-8"?>

<profile name="$profile.name" type="server" >
    <key name="usb_transport" value="$profile.usb_enabled"/>

    <profile name="hcontacts" type="storage" >
        <key name="enabled" value="true" />
        <key name="Local URI" value="./contacts" />
    </profile>
</profile>
